<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>In tasks with high motion collinearity, noisy ICs must be added as nuisance to the regression model after orthogonalization to the signals of interests and other BOLD-related ICs.</h2>
			<p><img src="{{ "" | absolute_url }}/assets/images/results_4"></p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-image major style1"><span class="label">Poster</span></span>
			</li>
			<li><span class="icon fa-camera major style2"><span class="label">Video</span></span>
			</li>
			<li><span class="icon fa-code major style3"><span class="label">Code</span></span>
			</li>
			<li><span class="icon fa-code major style3"><span class="label">Singularity Container</span></span>
			</li>
		</ul>
	</div>
</section>
